<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" type="image/x-icon" href="/img/weather.png" />
  <link rel="stylesheet" href="css/styles.css" />
  <title>404!</title>
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>{{errorMessage}}</p>
  </div>

  {{>footer}}
<script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
  <script>
    const options = {
      bottom: '64px',
      right: 'unset',
      left: '32px', 
      time: '1.5s', 
      mixColor: '#fff',
      backgroundColor: '#fff',
      buttonColorDark: '#100f2c', 
      buttonColorLight: '#fff',
      saveInCookies: false,
      label: '🌓',
      autoMatchOsTheme: true
    }
    const darkmode = new Darkmode(options);
    darkmode.showWidget();
  </script>
</body>

</html>