<footer class="mt-4 lg:mt-6 flex flex-col text-center fixed inset-x-0 bottom-0">
  <div class="bg-teal-200 pt-2 pb-2">
    <p class="font-semibold text-sm sm:text-base lg:text-lg">Find me on the Web</p>
    <ul
      class="flex justify-center pt-1 pb-2 lg:pb-1 lg:pt-2 text-xs sm:text-base lg:text-lg"
    >
      <li class="text-gray-700 hover:brightness-50"><a
          href="https://github.com/Apzyte-Gamer/"
          target="_blank"
          class=""
        >
          <i class="fab fa-github fa-2x mr-4" aria-hidden="true"></i></a></li>
      <li class="text-red-700 hover:brightness-50"><a
          href="https://www.youtube.com/channel/UCOmGHY06CkeRHGcnX7FKqFQ"
          target="_blank"
          class=""
        >
          <i class="fab fa-youtube fa-2x mr-4" aria-hidden="true"></i></a></li>
      <li class="text-purple-700 hover:brightness-50"><a
          href="https://discord.gg/PTZdEaxYGm"
          target="_blank"
          class=""
        >
          <i class="fab fa-discord fa-2x" aria-hidden="true"></i></a></li>
    </ul>
  </div>
  <p
    class="text-colorT-two bg-purple-800 brightness-150 text-xs tracking-wider pb-2 pt-1"
  >
    Created by:
    <span class="font-semibold tracking-widest">{{name}}</span></p>
</footer>