<link href="css/output.css" rel="stylesheet" />

<nav class="flex items-center justify-between flex-wrap bg-teal-200 p-6">
  <div class="flex items-center flex-shrink-0 text-white mr-6">
    <img
      class="fill-current h-8 w-8 mr-2"
      width="54"
      height="54"
      src="img/weather.png"
    />
    <span class="font-semibold text-gray-700 text-xl tracking-tight"><a href="/">Weather App</a></span>
  </div>
  <div class="block lg:hidden">
    <button
      class="flex items-center px-3 py-2 border rounded text-teal-500 border-teal-400 hover:text-white hover:border-white"
    >
      <svg
        class="fill-current h-3 w-3"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      ><title>Menu</title><path
          d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"
        ></path></svg>
    </button>
  </div>
  <div class="w-full font-bold block lg:flex lg:items-center lg:w-auto">
    <div class="text-lg font-sans lg:flex-grow">
      <a
        href="/"
        class="block mt-4 lg:inline-block lg:mt-0 text-purple-900 hover:text-white mr-4"
      >
        Weather
      </a>
      <a
        href="/about"
        class="block mt-4 lg:inline-block lg:mt-0 text-purple-900 hover:text-white mr-4"
      >
        About
      </a>
      <a
        href="/help"
        class="block mt-4 lg:inline-block lg:mt-0 text-purple-900 hover:text-white"
      >
        Help
      </a>
    </div>
  </div>
</nav>