<nav
  class="flex items-center bg-teal-300 dark:bg-teal-600 dark:text-white p-3 flex-wrap"
>
  <div class="flex-1 flex items-center text-base sm:text-lg lg:text-xl">
    <i class="fas fa-cloud-sun"></i>
    {{! <img class="h-6 sm:h-8 lg:h-10" src="/img/weather.png" alt="Weather Icon with Sun and Clouds."> }}
    <h1 class="ml-1 font-semibold">Weather App</h1>
  </div>
  <button
    class="text-white inline-flex p-3 hover:bg-gray-900 rounded lg:hidden ml-auto hover:text-white outline-none nav-toggler"
    data-target="#navigation"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M4 6h16M4 12h16M4 18h16"
      ></path>
    </svg>
  </button>
  <div
    class="hidden top-navbar w-full lg:inline-flex lg:flex-grow lg:w-auto"
    id="navigation"
  >
    <div
      class="lg:inline-flex lg:flex-row lg:ml-auto lg:w-auto w-full lg:items-center items-start flex flex-col lg:h-auto"
    >
      <a
        href="/"
        class="lg:inline-flex lg:w-auto w-full px-3 py-2 rounded text-gray-500 dark:text-white items-center justify-center hover:bg-gray-900 hover:text-white"
      >
        <span>Weather</span>
      </a>
      <a
        href="/about"
        class="lg:inline-flex lg:w-auto w-full px-3 py-2 rounded text-gray-500 dark:text-white items-center justify-center hover:bg-gray-900 hover:text-white"
      >
        <span>About</span>
      </a>
      <a
        href="/help"
        class="lg:inline-flex lg:w-auto w-full px-3 py-2 rounded text-gray-500 dark:text-white items-center justify-center hover:bg-gray-900 hover:text-white"
      >
        <span>Help</span>
      </a>
    </div>
    <div class="px-3 py-2 flex items-center space-x-2">
      <span
        class="text-sm text-gray-800 font-semibold dark:text-gray-400"
      >Light</span>
      <div>
        <input type="checkbox" name="" id="toggle" class="hidden" />
        <label for="toggle" class="cursor-pointer">
          <div
            class="w-9 h-5 flex items-center bg-gray-300 dark:bg-gray-600 rounded-full p-1"
          >
            <div
              class="toggle-dot w-4 h-4 bg-white rounded-full shadow-md transform duration-300 ease-in-out"
            ></div>
          </div>
        </label>
      </div>
      <span
        class="text-sm text-gray-400 font-semibold dark:text-gray-100"
      >Dark</span>
    </div>
  </div>
</nav>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"
></script>
<script src="js/app.js"></script>